@import "tailwindcss";

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(222.2 84% 4.9%);
}

::-webkit-scrollbar-thumb {
  background: hsl(217.2 32.6% 17.5%);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(217.2 32.6% 25%);
}
